[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
flask = "*"
flask-sqlalchemy = "3.0.3"
Werkzeug = "2.2.2"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
faker = "*"
flask-bcrypt = "1.0.1"
gunicorn = "20.1.0"
psycopg2-binary = "2.9.4"

[requires]
python_full_version = "3.8.13"
